.feedback {
  margin-bottom: 455px;

  .wrapper {
    position: relative;
    flex-direction: column;
  }

  .feedback_title {
    @include title;
    z-index: 1;
    position: absolute;
    line-height: 62px;
    top: -54px;
    left: 80px;
    width: 420px;

    &::after {
      @include title_line;
      top: 60px;
      left: -119px;
      transform: rotate(90deg);
    }

    &::before {
      z-index: -1;
      position: absolute;
      top: -117px;
      left: 44px;
      content: '';
      width: 261px;
      height: 373px;
      background-image: url('../img/feedback_title_bg_desktop.png');
    }
  }

  .feedback_slider {
    position: relative;

    &_item {
      width: 1610px;
    }

    &_container {
      @include list;
    }

    &_review {
      display: flex;
      width: 1015px;

      &.first_item {
        margin-left: auto;
        margin-bottom: 160px;
      }

      &.second_item {
        margin-right: auto;
      }
    }

    &_image {
      margin-right: 75px;
    }

    &_content {
      display: flex;
      flex-direction: column;
      width: 485px;
    }

    &_title {
      @include subtitle;
      margin-bottom: 20px;
    }

    &_text {
      @include text;
      margin-bottom: 20px;
    }

    &_name {
      font-weight: 500;
    }
  }

  .feedback_flipping {
    z-index: 1;
    position: absolute;
    bottom: -76px;
    right: -111px;
    width: 570px;
    height: 260px;
    background-image: url('../img/feedback_flipping_bg_desktop.png');

    &_link {
      margin-left: 90px;
      color: #0B0B0B;
    }

    .flex-direction-nav a {
      top: 103px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 82px;
      height: 16px;
      opacity: 1;
      border: none;

      &.flex-next {
        right: 0;
        left: 380px;

        &::after {
          content: '';
          width: 82px;
          height: 16px;
          background-image: url("data:image/svg+xml,%3Csvg width='22' height='12' viewBox='0 0 22 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.5303 5.46967C21.8232 5.76256 21.8232 6.23744 21.5303 6.53033L16.7574 11.3033C16.4645 11.5962 15.9896 11.5962 15.6967 11.3033C15.4038 11.0104 15.4038 10.5355 15.6967 10.2426L19.9393 6L15.6967 1.75736C15.4038 1.46447 15.4038 0.989593 15.6967 0.696699C15.9896 0.403806 16.4645 0.403806 16.7574 0.696699L21.5303 5.46967ZM0 5.25L21 5.25V6.75L0 6.75L0 5.25Z' fill='%23999999'/%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          background-position: center center;
        }

        &::before {
          display: none;
        }

        &:hover {
        }
      }

      &.flex-prev {
        left: 90px;

        &::before {
          content: '';
          width: 26px;
          height: 12px;
          background-image: url("data:image/svg+xml,%3Csvg width='26' height='12' viewBox='0 0 26 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' d='M0.46967 5.46967C0.176777 5.76256 0.176777 6.23744 0.46967 6.53033L5.24264 11.3033C5.53553 11.5962 6.01041 11.5962 6.3033 11.3033C6.59619 11.0104 6.59619 10.5355 6.3033 10.2426L2.06066 6L6.3033 1.75736C6.59619 1.46447 6.59619 0.989592 6.3033 0.696699C6.01041 0.403806 5.53553 0.403806 5.24264 0.696699L0.46967 5.46967ZM22 5.25L1 5.25V6.75L22 6.75V5.25Z' fill='%23999999'/%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          background-position: center center;
        }

        &:hover {
        }
      }
    }

    .feedback_slider_item_number {
      margin: 80px 0 67px 250px;
    }
  }
}

