.header {
  position: relative;
  z-index: 1;
  margin-bottom: 45px;

  .wrapper {
    min-height: 105px;
    justify-content: space-between;
    align-items: center;
  }

  &_navigation {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 230px;

    &_list {
      @include list;
      align-items: center;
    }

    &_link {
      @include header_link;
      @include lc;
      display: flex;
      max-width: 100%;
      padding: 0 24px;
      line-height: 60px;
      transition: .5s;

      &.active {
        position: relative;
        z-index: 12;
        background-color: #ffffff;
        box-shadow: 0px -40px 50px -10px rgba(0,0,0,0.075);

        &::after {
          @include bgi;
          position: absolute;
          display: flex;
          bottom: 7px;
          left: calc(50% - 3px);
          width: 7px;
          height: 5px;
          content: '';
          background-image: url("data:image/svg+xml,%3Csvg width='7' height='5' viewBox='0 0 7 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.12484 4.375L6.15593 0.625L0.09375 0.625L3.12484 4.375Z' fill='%23555555'/%3E%3C/svg%3E");
          background-color: transparent;
        }
      }

      &:hover {
        position: relative;
        z-index: 1;
        background-color: #ffffff;
        box-shadow: 0px -40px 50px -10px rgba(0,0,0,0.075);

        &::after {
          position: absolute;
          bottom: 10px;
          left: calc(50% - 13px);
          content: '';
          width: 25px;
          height: 2px;
          background-color: #5E5EB6;
        }
      }

      &.header_navigation_drop_down {

        &:hover {
          position: relative;

          &::after {
            @include bgi;
            position: absolute;
            display: flex;
            bottom: 7px;
            left: calc(50% - 3px);
            width: 7px;
            height: 5px;
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='7' height='5' viewBox='0 0 7 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.12484 4.375L6.15593 0.625L0.09375 0.625L3.12484 4.375Z' fill='%23555555'/%3E%3C/svg%3E");
            background-color: transparent;
          }
        }
      }
    }

    &_container {
      position: absolute;
      display: flex;
      opacity: 0;
      visibility: hidden;
      box-sizing: border-box;
      background-color: #FFFFFF;
      box-shadow: 13px 13px 60px rgba(0, 0, 0, 0.08);
      transition: .5s;

      &_list {
        @include list;
        flex-direction: column;

        &:not(:last-child) {
          margin-right: 80px;
        }
      }

      &_item {
        margin-bottom: 30px;
      }

      &_link {
        @include lc;
        position: relative;
        text-decoration: none;
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        color: #000000;

        &.fw500 {
          font-weight: 500;
        }
        &.fw400 {
          font-weight: 400;
        }

        &:hover {
          &::after {
            position: absolute;
            top: -50%;
            left: -40px;
            content: '';
            width: 2px;
            height: 41px;
            background: #5D5DB4;
          }
        }
      }

      &.header_navigation_program {
        width: 895px;
        height: 850px;
        padding: 50px 80px 65px 40px;
      }

      &.header_navigation_support {
        width: 235px;
        padding: 17px 45px 0px 40px;
      }

      &:hover {
        opacity: 1;
        visibility: visible;
      }

      // &:hover ~ .header_navigation_link {
      //   box-shadow: 0px -40px 50px -10px rgba(0,0,0,0.075);
      // }
    }

    .header_navigation_drop_down:hover + .header_navigation_container {
      opacity: 1;
      visibility: visible;
    }
  }

  &.index {
    margin-bottom: 0;

    .header_navigation {
      z-index: 11;
      position: relative;
      margin-top: 0;
      margin-left: 395px;

      .header_navigation_list {
        position: absolute;
        bottom: -235px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }

      .header_navigation_item {
        position: relative;
        box-sizing: border-box;
        width: 175px;
        height: 50px;
        margin-right: 0;
      }

      .header_navigation_link {
        box-sizing: border-box;
        padding-left: 25px;
        line-height: 50px;

        &::after {
          display: none;
        }

        &:hover {
          box-shadow: -25px 10px 60px -20px rgba(0, 0, 0, 0.2);
        }

        &.active {
          box-shadow: -25px 10px 60px -20px rgba(0, 0, 0, 0.2);

          &::after {
          position: absolute;
          content: '';
          display: flex;
          top: calc(50% - 1px);
          left: 123px;
          width: 4px;
          height: 7px;
          background-image: url("data:image/svg+xml,%3Csvg width='4' height='7' viewBox='0 0 4 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 3.5L0.25 0.468912L0.25 6.53109L4 3.5Z' fill='%23555555'/%3E%3C/svg%3E%0A");
          background-color: transparent;
          }
        }
      }

      .header_navigation_container {
        left: 175px;

        &.header_navigation_program {
          top: -35px;
        }

        &.header_navigation_support {
          top: 0;
        }
      }

      .header_navigation_drop_down:hover {
        position: relative;

        &::after {
          position: absolute;
          display: flex;
          top: calc(50% - 1px);
          left: 123px;
          width: 4px;
          height: 7px;
          content: '';
          background-image: url("data:image/svg+xml,%3Csvg width='4' height='7' viewBox='0 0 4 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 3.5L0.25 0.468912L0.25 6.53109L4 3.5Z' fill='%23555555'/%3E%3C/svg%3E%0A");
          background-color: transparent;
        }
      }

      .header_navigation_container:hover ~ .header_navigation_link {
          box-shadow: -25px 10px 60px -20px rgba(0, 0, 0, 0.2);
      }
    }
  }

  &_language {
    z-index: 1;
    position: relative;
    margin-left: auto;
    margin-right: 52px;
    margin-bottom: -15px;

    &_list {
      @include list;
      box-sizing: border-box;
      padding-bottom: 4px;
      width: 61px;
      flex-direction: column;
      background: #FFFFFF;
      outline: 1px solid rgba(240, 240, 240, 0);
      transition: .5s;
    }

    &_link {
      @include header_link;
      @include lc;
      display: flex;
      box-sizing: border-box;
      padding-left: 15px;
      width: 100%;
      line-height: 27px;
      text-align: center;
      transition: .5s;

      &:hover {
        background-color: #5E5EB6;
        color: #ffffff;
      }
    }

    &_item {
      opacity: 0;
      visibility: hidden;
      height: 0;
      transition: 1s;

      &:first-child {
        display: flex;
        opacity: 1;
        visibility: visible;
        height: auto;

        .header_language_link {
          position: relative;

          &:hover {
            background-color: #ffffff;
            color: #555555;
          }

          &::after {
            position: absolute;
            top: 12px;
            right: 12px;
            width: 7px;
            height: 5px;
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='7' height='4' viewBox='0 0 7 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.5 4L6.53109 0.25H0.468911L3.5 4Z' fill='%23555555'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: right center;
          }
        }
      }
    }

    &.active {
      margin-bottom: -67px;

      .header_language_list {
        outline: 1px solid rgba(240, 240, 240, 1);
      }

      .header_language_item {
        display: flex;
        opacity: 1;
        visibility: visible;
        height: auto;

        &:first-child {

          .header_language_link {

            &::after {
              background-image: url("data:image/svg+xml,%3Csvg width='7' height='4' viewBox='0 0 7 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.5 0L0.468911 3.75L6.53109 3.75L3.5 0Z' fill='%23555555'/%3E%3C/svg%3E%0A");
            }
          }
        }
      }
    }
  }

  &_login {
    @include header_link;
    @include lc;
    align-items: center;
    margin-right: 74px;
    margin-top: 10px;
  }

  .header_menu {

    &_list {
      @include list;
      align-items: center;
      margin-top: 15px;
    }

    &_item {
      &:not(:last-child) {
        margin-right: 37px;
      }
    }

    &_link {
      text-decoration: none;

      &.basket {
        position: relative;

        .header_menu_basket_counter {
          position: absolute;
          top: -14px;
          right: -5px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20px;
          height: 20px;
          background-color: #5E5EB6;
          border-radius: 50%;
          font-weight: 500;
          font-size: 11px;
          line-height: 13px;
          text-align: center;
          color: #FFFFFF;
        }
      }

      .icon {
        fill: #777777;
      }

      &:hover,
      &:active {
        .icon {
          fill: #5E5EB6;
        }
      }
    }
  }
}
