.radio {
  padding-bottom: 410px;

  .wrapper {
    justify-content: space-between;
  }

  &_title {
    @include title;
    width: 410px;
    line-height: 160%;
    margin-left: 80px;
    margin-bottom: 85px;

    &.revealator-partially-below {
      transform: skew(0deg, 0deg);
      opacity: 1;
    }

    &::after {
      @include title_line;
      top: 60px;
      left: -119px;
      transform: rotate(90deg);
    }
  }

  &_container {
    @include bgi;
    position: relative;
    width: 974px;
    height: 395px;
    background-image: url('../img/radio_container_bg_desktop.png');
    margin-top: 175px;

    &.revealator-partially-below {
      transform: skew(0deg, 0deg);
      opacity: 1;
    }
  }

  &_sticker {
    @include bgi;
    position: absolute;
    top: -185px;
    left: -340px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 690px;
    height: 690px;
    padding-top: 286px;
    padding-left: 220px;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("data:image/svg+xml,%3Csvg width='689' height='689' viewBox='0 0 689 689' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='344.5' cy='344.5' r='344' stroke='%23B2B2B2' stroke-opacity='0.15'/%3E%3Ccircle cx='345' cy='345' r='222.5' stroke='%23B2B2B2' stroke-opacity='0.23'/%3E%3C/svg%3E%0A");

    &_title {
      width: 300px;
      font-weight: bold;
      font-size: 60px;
      line-height: 60px;
      color: #0B0B0B;
      margin: 0 0 37px;
    }

    &_link {

    }
  }

  .jp-jplayer,
  .jp-audio {
    width: auto;
    margin: 0;
  }

  .jp-title {
    position: absolute;
    top: 105px;
    left: 488px;
    color: #0B0B0B;
  }

  .jp-title ul {
      padding: 0;
      margin: 0;
      list-style: none;
  }

  .jp-title-name-track {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  }

  .jp-title-name-artist {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
  }

  .jp-controls {
      padding: 0;
      margin: 0;
      list-style: none;
  }

  .jp-controls li {
      display: inline;
  }

  .jp-play,
  .jp-pause {
    position: absolute;
    top: 105px;
    left: 372px;
    box-sizing: border-box;
    display: flex;
    width: 76px;
    height: 76px;
    text-align: center;
    line-height: 43px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .jp-play {
    background-image: url("data:image/svg+xml,%3Csvg width='76' height='76' viewBox='0 0 76 76' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='38' cy='38' r='36.5' stroke='%23000000' stroke-width='3'/%3E%3Cpath d='M53 38L30.5 50.9904L30.5 25.0096L53 38Z' fill='%23000000'/%3E%3C/svg%3E%0A");

    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg width='76' height='76' viewBox='0 0 76 76' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='38' cy='38' r='36.5' stroke='%235E5EB6' stroke-width='3'/%3E%3Cpath d='M53 38L30.5 50.9904L30.5 25.0096L53 38Z' fill='%235E5EB6'/%3E%3C/svg%3E%0A");
    }

    &:active {
      background-image: url("data:image/svg+xml,%3Csvg width='76' height='76' viewBox='0 0 76 76' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='38' cy='38' r='36.5' stroke='%236D6DD0' stroke-width='3'/%3E%3Cpath d='M53 38L30.5 50.9904L30.5 25.0096L53 38Z' fill='%236D6DD0'/%3E%3C/svg%3E%0A");
    }
  }

  .jp-pause {
    background-image: url("data:image/svg+xml,%3Csvg width='76' height='76' viewBox='0 0 76 76' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='38' cy='38' r='36.5' stroke='%23000000' stroke-width='3'/%3E%3Crect x='27' y='25' width='8' height='26' fill='%23000000'/%3E%3Crect x='41' y='25' width='8' height='26' fill='%23000000'/%3E%3C/svg%3E%0A");

    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg width='76' height='76' viewBox='0 0 76 76' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='38' cy='38' r='36.5' stroke='%235E5EB6' stroke-width='3'/%3E%3Crect x='27' y='25' width='8' height='26' fill='%235E5EB6'/%3E%3Crect x='41' y='25' width='8' height='26' fill='%235E5EB6'/%3E%3C/svg%3E%0A");
    }

    &:active {
      background-image: url("data:image/svg+xml,%3Csvg width='76' height='76' viewBox='0 0 76 76' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='38' cy='38' r='36.5' stroke='%236D6DD0' stroke-width='3'/%3E%3Crect x='27' y='25' width='8' height='26' fill='%236D6DD0'/%3E%3Crect x='41' y='25' width='8' height='26' fill='%236D6DD0'/%3E%3C/svg%3E%0A");
    }
  }

  .jp-mute,
  .jp-unmute {
    width: 23px;
    height: 23px;
    margin-right: 17px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .jp-mute {
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.1385 2.13393C9.94865 2.05072 9.72455 2.09003 9.57292 2.234L4.1895 7.31835H0.522744C0.233806 7.31835 0 7.55215 0 7.84104V15.1592C0 15.4481 0.233806 15.682 0.522744 15.682H4.1895L9.57297 20.7663C9.67201 20.8602 9.80114 20.9092 9.93184 20.9092C10.0018 20.9092 10.0722 20.8955 10.1386 20.8664C10.3306 20.7842 10.4546 20.5953 10.4546 20.3865V2.6138C10.4545 2.40498 10.3305 2.21612 10.1385 2.13393Z' fill='black'/%3E%3Cpath d='M12.8619 8.56995L12.117 9.31478C11.9453 9.48655 11.8994 9.76407 12.0429 9.96009C12.3589 10.3923 12.5457 10.9246 12.5457 11.4998C12.5457 12.0749 12.3589 12.6072 12.0429 13.0394C11.8994 13.2354 11.9453 13.513 12.117 13.6847L12.8619 14.4295C13.09 14.6577 13.4626 14.6225 13.6597 14.367C14.272 13.5727 14.6366 12.578 14.6366 11.4998C14.6366 10.4214 14.272 9.42676 13.6597 8.63248C13.4626 8.37691 13.09 8.34178 12.8619 8.56995Z' fill='black'/%3E%3Cpath d='M16.5847 5.61489C16.3882 5.39289 16.0382 5.39378 15.8286 5.60342L15.089 6.34302C14.8909 6.5411 14.8928 6.85243 15.0758 7.06443C16.1045 8.25561 16.7274 9.8065 16.7274 11.5001C16.7274 13.1938 16.1045 14.7447 15.0758 15.9359C14.8927 16.1479 14.891 16.4592 15.089 16.6573L15.8286 17.3968C16.0382 17.6065 16.3882 17.6074 16.5848 17.3854C17.9739 15.8169 18.8182 13.7553 18.8182 11.5002C18.8182 9.24504 17.9739 7.18342 16.5847 5.61489Z' fill='black'/%3E%3Cpath d='M19.5418 2.65282C19.3418 2.43572 18.9954 2.43636 18.7867 2.64508L18.0461 3.38565C17.8475 3.58427 17.8485 3.89781 18.0379 4.1053C19.8206 6.05769 20.9092 8.65411 20.9092 11.4999C20.9092 14.3456 19.8206 16.942 18.0379 18.8944C17.8485 19.1019 17.8474 19.4155 18.0461 19.6141L18.7867 20.3546C18.9954 20.5634 19.3418 20.564 19.5419 20.3469C21.6878 18.0177 23.0001 14.9091 23.0001 11.4999C23.0001 8.09054 21.6878 4.98196 19.5418 2.65282Z' fill='black'/%3E%3C/svg%3E%0A");

    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.1385 2.13393C9.94865 2.05072 9.72455 2.09003 9.57292 2.234L4.1895 7.31835H0.522744C0.233806 7.31835 0 7.55215 0 7.84104V15.1592C0 15.4481 0.233806 15.682 0.522744 15.682H4.1895L9.57297 20.7663C9.67201 20.8602 9.80114 20.9092 9.93184 20.9092C10.0018 20.9092 10.0722 20.8955 10.1386 20.8664C10.3306 20.7842 10.4546 20.5953 10.4546 20.3865V2.6138C10.4545 2.40498 10.3305 2.21612 10.1385 2.13393Z' fill='%235E5EB6'/%3E%3Cpath d='M12.8619 8.56995L12.117 9.31478C11.9453 9.48655 11.8994 9.76407 12.0429 9.96009C12.3589 10.3923 12.5457 10.9246 12.5457 11.4998C12.5457 12.0749 12.3589 12.6072 12.0429 13.0394C11.8994 13.2354 11.9453 13.513 12.117 13.6847L12.8619 14.4295C13.09 14.6577 13.4626 14.6225 13.6597 14.367C14.272 13.5727 14.6366 12.578 14.6366 11.4998C14.6366 10.4214 14.272 9.42676 13.6597 8.63248C13.4626 8.37691 13.09 8.34178 12.8619 8.56995Z' fill='%235E5EB6'/%3E%3Cpath d='M16.5847 5.61489C16.3882 5.39289 16.0382 5.39378 15.8286 5.60342L15.089 6.34302C14.8909 6.5411 14.8928 6.85243 15.0758 7.06443C16.1045 8.25561 16.7274 9.8065 16.7274 11.5001C16.7274 13.1938 16.1045 14.7447 15.0758 15.9359C14.8927 16.1479 14.891 16.4592 15.089 16.6573L15.8286 17.3968C16.0382 17.6065 16.3882 17.6074 16.5848 17.3854C17.9739 15.8169 18.8182 13.7553 18.8182 11.5002C18.8182 9.24504 17.9739 7.18342 16.5847 5.61489Z' fill='%235E5EB6'/%3E%3Cpath d='M19.5418 2.65282C19.3418 2.43572 18.9954 2.43636 18.7867 2.64508L18.0461 3.38565C17.8475 3.58427 17.8485 3.89781 18.0379 4.1053C19.8206 6.05769 20.9092 8.65411 20.9092 11.4999C20.9092 14.3456 19.8206 16.942 18.0379 18.8944C17.8485 19.1019 17.8474 19.4155 18.0461 19.6141L18.7867 20.3546C18.9954 20.5634 19.3418 20.564 19.5419 20.3469C21.6878 18.0177 23.0001 14.9091 23.0001 11.4999C23.0001 8.09054 21.6878 4.98196 19.5418 2.65282Z' fill='%235E5EB6'/%3E%3C/svg%3E%0A");
    }

    &:active {
      background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.1385 2.13393C9.94865 2.05072 9.72455 2.09003 9.57292 2.234L4.1895 7.31835H0.522744C0.233806 7.31835 0 7.55215 0 7.84104V15.1592C0 15.4481 0.233806 15.682 0.522744 15.682H4.1895L9.57297 20.7663C9.67201 20.8602 9.80114 20.9092 9.93184 20.9092C10.0018 20.9092 10.0722 20.8955 10.1386 20.8664C10.3306 20.7842 10.4546 20.5953 10.4546 20.3865V2.6138C10.4545 2.40498 10.3305 2.21612 10.1385 2.13393Z' fill='%235E5EB6'/%3E%3Cpath d='M12.8619 8.56995L12.117 9.31478C11.9453 9.48655 11.8994 9.76407 12.0429 9.96009C12.3589 10.3923 12.5457 10.9246 12.5457 11.4998C12.5457 12.0749 12.3589 12.6072 12.0429 13.0394C11.8994 13.2354 11.9453 13.513 12.117 13.6847L12.8619 14.4295C13.09 14.6577 13.4626 14.6225 13.6597 14.367C14.272 13.5727 14.6366 12.578 14.6366 11.4998C14.6366 10.4214 14.272 9.42676 13.6597 8.63248C13.4626 8.37691 13.09 8.34178 12.8619 8.56995Z' fill='%235E5EB6'/%3E%3Cpath d='M16.5847 5.61489C16.3882 5.39289 16.0382 5.39378 15.8286 5.60342L15.089 6.34302C14.8909 6.5411 14.8928 6.85243 15.0758 7.06443C16.1045 8.25561 16.7274 9.8065 16.7274 11.5001C16.7274 13.1938 16.1045 14.7447 15.0758 15.9359C14.8927 16.1479 14.891 16.4592 15.089 16.6573L15.8286 17.3968C16.0382 17.6065 16.3882 17.6074 16.5848 17.3854C17.9739 15.8169 18.8182 13.7553 18.8182 11.5002C18.8182 9.24504 17.9739 7.18342 16.5847 5.61489Z' fill='%235E5EB6'/%3E%3Cpath d='M19.5418 2.65282C19.3418 2.43572 18.9954 2.43636 18.7867 2.64508L18.0461 3.38565C17.8475 3.58427 17.8485 3.89781 18.0379 4.1053C19.8206 6.05769 20.9092 8.65411 20.9092 11.4999C20.9092 14.3456 19.8206 16.942 18.0379 18.8944C17.8485 19.1019 17.8474 19.4155 18.0461 19.6141L18.7867 20.3546C18.9954 20.5634 19.3418 20.564 19.5419 20.3469C21.6878 18.0177 23.0001 14.9091 23.0001 11.4999C23.0001 8.09054 21.6878 4.98196 19.5418 2.65282Z' fill='%236D6DD0'/%3E%3C/svg%3E%0A");
    }
  }

  .jp-unmute {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='23' viewBox='0 0 24 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.1385 2.13393C9.94865 2.05072 9.72455 2.09003 9.57292 2.234L4.1895 7.31835H0.522744C0.233806 7.31835 0 7.55215 0 7.84104V15.1592C0 15.4481 0.233806 15.682 0.522744 15.682H4.1895L9.57297 20.7663C9.67201 20.8602 9.80114 20.9092 9.93184 20.9092C10.0018 20.9092 10.0722 20.8955 10.1386 20.8664C10.3306 20.7842 10.4546 20.5953 10.4546 20.3865V2.6138C10.4545 2.40498 10.3305 2.21612 10.1385 2.13393Z' fill='black'/%3E%3Crect x='13' y='7.83301' width='2.59272' height='12.9636' transform='rotate(-45 13 7.83301)' fill='black'/%3E%3Crect width='2.59272' height='12.9636' transform='matrix(-0.707107 -0.707107 -0.707107 0.707107 24 7.83301)' fill='black'/%3E%3C/svg%3E%0A");
    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='23' viewBox='0 0 24 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.1385 2.13393C9.94865 2.05072 9.72455 2.09003 9.57292 2.234L4.1895 7.31835H0.522744C0.233806 7.31835 0 7.55215 0 7.84104V15.1592C0 15.4481 0.233806 15.682 0.522744 15.682H4.1895L9.57297 20.7663C9.67201 20.8602 9.80114 20.9092 9.93184 20.9092C10.0018 20.9092 10.0722 20.8955 10.1386 20.8664C10.3306 20.7842 10.4546 20.5953 10.4546 20.3865V2.6138C10.4545 2.40498 10.3305 2.21612 10.1385 2.13393Z' fill='%235E5EB6'/%3E%3Crect x='13' y='7.83301' width='2.59272' height='12.9636' transform='rotate(-45 13 7.83301)' fill='%235E5EB6'/%3E%3Crect width='2.59272' height='12.9636' transform='matrix(-0.707107 -0.707107 -0.707107 0.707107 24 7.83301)' fill='%235E5EB6'/%3E%3C/svg%3E%0A");
    }

    &:active {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='23' viewBox='0 0 24 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.1385 2.13393C9.94865 2.05072 9.72455 2.09003 9.57292 2.234L4.1895 7.31835H0.522744C0.233806 7.31835 0 7.55215 0 7.84104V15.1592C0 15.4481 0.233806 15.682 0.522744 15.682H4.1895L9.57297 20.7663C9.67201 20.8602 9.80114 20.9092 9.93184 20.9092C10.0018 20.9092 10.0722 20.8955 10.1386 20.8664C10.3306 20.7842 10.4546 20.5953 10.4546 20.3865V2.6138C10.4545 2.40498 10.3305 2.21612 10.1385 2.13393Z' fill='%235E5EB6'/%3E%3Crect x='13' y='7.83301' width='2.59272' height='12.9636' transform='rotate(-45 13 7.83301)' fill='%235E5EB6'/%3E%3Crect width='2.59272' height='12.9636' transform='matrix(-0.707107 -0.707107 -0.707107 0.707107 24 7.83301)' fill='%236D6DD0'/%3E%3C/svg%3E%0A");
    }
  }

  .jp-time-holder {
    display: none;
    position: absolute;
    right: 90px;
    top: 14px;
    font-size: 12px;
    line-height: 14px;
  }

  .jp-progress {
      position: absolute;
      top: 175px;
      left: 487px;
      overflow: hidden;
      width: 250px;
  }

  .jp-seek-bar {
    width: 100%;
    height: 3px;
    background-color: #CBCBCB;
  }

  .jp-play-bar {
    height: 3px;
    background-color: #131313;
  }

  .jp-volume-bar {
    width: 66px;
    height: 3px;
    margin-right: 84px;
    background-color: #CBCBCB;
  }

  .jp-volume-bar-value {
    height: 3px;
    background-color: #131313;
  }

  .jp-no-solution {
    display: none;
  }

  .jp-bottom-bar {
    position: absolute;
    top: 260px;
    left: 378px;
    display: flex;
    align-items: center;
  }

  .jp-track-download {
    @include bgi;
    display: inline-block;
    width: 23px;
    height: 23px;
    margin-right: 30px;
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.9705 8.11765H15.5587V0H7.44106V8.11765H2.0293L11.4999 17.5882L20.9705 8.11765ZM2.0293 20.2941V23H20.9705V20.2941H2.0293Z' fill='black'/%3E%3C/svg%3E%0A");

    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.9705 8.11765H15.5587V0H7.44106V8.11765H2.0293L11.4999 17.5882L20.9705 8.11765ZM2.0293 20.2941V23H20.9705V20.2941H2.0293Z' fill='%235E5EB6'/%3E%3C/svg%3E%0A");
    }

    &:active {
      background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.9705 8.11765H15.5587V0H7.44106V8.11765H2.0293L11.4999 17.5882L20.9705 8.11765ZM2.0293 20.2941V23H20.9705V20.2941H2.0293Z' fill='%236D6DD0'/%3E%3C/svg%3E%0A");
    }
  }

  .jp-track-share {
    @include bgi;
    display: inline-block;
    width: 23px;
    height: 23px;
    margin-right: 65px;
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M8.11846 11.5C8.11846 11.5789 8.1005 11.6527 8.09584 11.7313L16.3367 15.8504C17.0423 15.2529 17.945 14.8801 18.9423 14.8801C21.1842 14.8806 23.0009 16.6974 23.0009 18.939C23.0009 21.1831 21.1841 22.9999 18.9423 22.9999C16.6984 22.9999 14.8836 21.1831 14.8836 18.939C14.8836 18.8581 14.9016 18.786 14.9061 18.7077L6.66515 14.5883C5.95748 15.1835 5.05693 15.5564 4.05964 15.5564C1.81791 15.5564 0.000976562 13.7416 0.000976562 11.5C0.000976562 9.25614 1.81796 7.43894 4.05964 7.43894C5.05687 7.43894 5.95775 7.81416 6.66515 8.40938L14.9061 4.29003C14.9016 4.21127 14.8836 4.13721 14.8836 4.05646C14.8836 1.81698 16.6984 0 18.9423 0C21.1842 0 23.0009 1.81698 23.0009 4.05646C23.0009 6.30016 21.1841 8.11752 18.9423 8.11752C17.9428 8.11752 17.0419 7.7423 16.3367 7.14483L8.09584 11.2664C8.10023 11.3451 8.11846 11.4193 8.11846 11.5Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='23' height='23' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");

    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M8.11846 11.5C8.11846 11.5789 8.1005 11.6527 8.09584 11.7313L16.3367 15.8504C17.0423 15.2529 17.945 14.8801 18.9423 14.8801C21.1842 14.8806 23.0009 16.6974 23.0009 18.939C23.0009 21.1831 21.1841 22.9999 18.9423 22.9999C16.6984 22.9999 14.8836 21.1831 14.8836 18.939C14.8836 18.8581 14.9016 18.786 14.9061 18.7077L6.66515 14.5883C5.95748 15.1835 5.05693 15.5564 4.05964 15.5564C1.81791 15.5564 0.000976562 13.7416 0.000976562 11.5C0.000976562 9.25614 1.81796 7.43894 4.05964 7.43894C5.05687 7.43894 5.95775 7.81416 6.66515 8.40938L14.9061 4.29003C14.9016 4.21127 14.8836 4.13721 14.8836 4.05646C14.8836 1.81698 16.6984 0 18.9423 0C21.1842 0 23.0009 1.81698 23.0009 4.05646C23.0009 6.30016 21.1841 8.11752 18.9423 8.11752C17.9428 8.11752 17.0419 7.7423 16.3367 7.14483L8.09584 11.2664C8.10023 11.3451 8.11846 11.4193 8.11846 11.5Z' fill='%235E5EB6'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='23' height='23' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }

    &:active {
      background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M8.11846 11.5C8.11846 11.5789 8.1005 11.6527 8.09584 11.7313L16.3367 15.8504C17.0423 15.2529 17.945 14.8801 18.9423 14.8801C21.1842 14.8806 23.0009 16.6974 23.0009 18.939C23.0009 21.1831 21.1841 22.9999 18.9423 22.9999C16.6984 22.9999 14.8836 21.1831 14.8836 18.939C14.8836 18.8581 14.9016 18.786 14.9061 18.7077L6.66515 14.5883C5.95748 15.1835 5.05693 15.5564 4.05964 15.5564C1.81791 15.5564 0.000976562 13.7416 0.000976562 11.5C0.000976562 9.25614 1.81796 7.43894 4.05964 7.43894C5.05687 7.43894 5.95775 7.81416 6.66515 8.40938L14.9061 4.29003C14.9016 4.21127 14.8836 4.13721 14.8836 4.05646C14.8836 1.81698 16.6984 0 18.9423 0C21.1842 0 23.0009 1.81698 23.0009 4.05646C23.0009 6.30016 21.1841 8.11752 18.9423 8.11752C17.9428 8.11752 17.0419 7.7423 16.3367 7.14483L8.09584 11.2664C8.10023 11.3451 8.11846 11.4193 8.11846 11.5Z' fill='%236D6DD0'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='23' height='23' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
  }

  .jp-track-hd {
    @include bgi;
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M26.8888 3.24219H1.11118C0.497468 3.24219 0 3.73975 0 4.35336V23.6463C0 24.2599 0.497468 24.7575 1.11118 24.7575H26.8889C27.5025 24.7575 28.0001 24.26 28.0001 23.6463V4.35336C28 3.73975 27.5024 3.24219 26.8888 3.24219ZM10.0384 18.3407L11.002 14.9671H7.40568L6.44171 18.3407H4.23441L6.71442 9.65892H8.9223L7.9018 13.2309H11.4979L12.5184 9.65892H14.7265L12.2459 18.3407H10.0384ZM23.5692 13.9998C22.8357 16.567 20.4188 18.3407 17.6284 18.3407H13.9824L15.621 12.6048H17.8283L16.6931 16.5791H18.2681C19.6199 16.5791 20.885 15.5376 21.3206 14.0125C21.76 12.4743 21.0442 11.4204 19.6428 11.4204H15.959L16.4623 9.65892H20.1954C22.9239 9.65892 24.3057 11.4204 23.5692 13.9998Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='28' height='28' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");

    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M26.8888 3.24219H1.11118C0.497468 3.24219 0 3.73975 0 4.35336V23.6463C0 24.2599 0.497468 24.7575 1.11118 24.7575H26.8889C27.5025 24.7575 28.0001 24.26 28.0001 23.6463V4.35336C28 3.73975 27.5024 3.24219 26.8888 3.24219ZM10.0384 18.3407L11.002 14.9671H7.40568L6.44171 18.3407H4.23441L6.71442 9.65892H8.9223L7.9018 13.2309H11.4979L12.5184 9.65892H14.7265L12.2459 18.3407H10.0384ZM23.5692 13.9998C22.8357 16.567 20.4188 18.3407 17.6284 18.3407H13.9824L15.621 12.6048H17.8283L16.6931 16.5791H18.2681C19.6199 16.5791 20.885 15.5376 21.3206 14.0125C21.76 12.4743 21.0442 11.4204 19.6428 11.4204H15.959L16.4623 9.65892H20.1954C22.9239 9.65892 24.3057 11.4204 23.5692 13.9998Z' fill='%235E5EB6'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='28' height='28' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }

    &:active {
      background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M26.8888 3.24219H1.11118C0.497468 3.24219 0 3.73975 0 4.35336V23.6463C0 24.2599 0.497468 24.7575 1.11118 24.7575H26.8889C27.5025 24.7575 28.0001 24.26 28.0001 23.6463V4.35336C28 3.73975 27.5024 3.24219 26.8888 3.24219ZM10.0384 18.3407L11.002 14.9671H7.40568L6.44171 18.3407H4.23441L6.71442 9.65892H8.9223L7.9018 13.2309H11.4979L12.5184 9.65892H14.7265L12.2459 18.3407H10.0384ZM23.5692 13.9998C22.8357 16.567 20.4188 18.3407 17.6284 18.3407H13.9824L15.621 12.6048H17.8283L16.6931 16.5791H18.2681C19.6199 16.5791 20.885 15.5376 21.3206 14.0125C21.76 12.4743 21.0442 11.4204 19.6428 11.4204H15.959L16.4623 9.65892H20.1954C22.9239 9.65892 24.3057 11.4204 23.5692 13.9998Z' fill='%236D6DD0'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='28' height='28' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
  }
}
