* {
  flex-shrink: 0;
  // outline: 1px solid red;
}

.display_none {
  display: none !important;
}

body {
  @include font_Ubuntu;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

// /*---WRAPPER---*/

.wrapper {
  display: flex;
  box-sizing: border-box;
  width: 1690px;
  margin: 0 auto;
}

// /*---BASE---*/

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-top: 10px;

  &_image {
    margin-right: 8px;
  }

  &_text {
    @include color_black;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    text-transform: uppercase;
    margin: 0;
  }
}

.button_transparent {
  display: inline-block;
  min-width: 210px;
  min-height: 66px;
  border: 1px solid #131313;
  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  color: #0B0B0B;
  text-decoration: none;
}

// .rellax {
//   position: absolute;
//   left: calc(50% - 950px);
//   width: 1041px;
//   height: 2626px;
//   background-image: url('../img/landing_parallax_desktop.png');
// }

.parallax_first_container {
  @include bgi;
  position: absolute;
  left: calc(50% - 950px);
  width: 1041px;
  height: 1124px;
  background-image: url('../img/parallax_first_container.png');
}

.parallax_second_container {
  @include bgi;
  position: absolute;
  top: 1325px;
  left: calc(50% - 627px);
  width: 562px;
  height: 2131px;
  background-image: url('../img/parallax_second_container.png');
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .subtitle {
    font-weight: 300;
    font-size: 23px;
    line-height: 40px;
    text-align: center;
    color: #0B0B0B;
    margin: 0;
  }

  .timer_list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .timer_item {
    display: flex;
    align-items: center;
      font-weight: 500;
      font-size: 26px;
      line-height: 40px;
      text-align: center;
      color: #0B0B0B;
  }
}

.breadcrumbs {
  display: flex;
  margin-bottom: 50px;

  &_link {
    position: relative;
    text-decoration: none;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #555555;

    &:not(:last-child) {
      margin-right: 65px;

      &::after {
        position: absolute;
        top: 0;
        right: -33px;
        content: '•';
        color: #555555;
        cursor: auto;
      }
    }
  }
}



.main.index {
  background-image: url('../img/main_bg_desktop.png');
  background-repeat: no-repeat;
  background-position: bottom left;
}
